/** Colors */
$brand-primary:         #525ddc;
$gradient: linear-gradient(to left, #E6C8B5, #DAADBC, #C0B1CD, #A7C2E0);
$background: #f7f7f7;
$foreground: #ABACAE;
$accent: #C0B1CD;


/** Box Model  */
$spacer:                2rem;
